/* https://sashat.me/2017/01/11/list-of-20-simple-distinct-colors/ */

.color1 {
  background: #ff0040;
  color: #fff;
}

.color2 {
  background: #3cb44b;
  color: #fff;
}

.color3 {
  background: #ffe119;
}

.color4 {
  background: #667bc9;
  color: #fff;
}