/* https://sashat.me/2017/01/11/list-of-20-simple-distinct-colors/ */

.color1 {
  background: #ff0040;
  color: #fff;
}

.color2 {
  background: #3cb44b;
  color: #fff;
}

.color3 {
  background: #ffe119;
}

.color4 {
  background: #667bc9;
  color: #fff;
}

.color5 {
  background: #f58231;
}

.color6 {
  background: #911eb4;
  color: #fff;
}

.color7 {
  background: #42d4f4;
}

.color8 {
  background: #f032e6;
}

.color9 {
  background: #bfef45;
}

.color10 {
  background: #fabebe;
}

.color11 {
  background: #469990;
  color: #fff;
}

.color12 {
  background: #e6beff;
}

.color13 {
  background: #9a6324;
  color: #fff;
}

.color14 {
  background: #fffac8;
}

.color15 {
  background: #800000;
  color: #fff;
}

.color16 {
  background: #aaffc3;
}

.color17 {
  background: #808000;
  color: #fff;
}

.color18 {
  background: #ffd8b1;
}