body {
  margin: 0;
  padding: 0;
  font: 15px 'Roboto', sans-serif;
}

hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ddd;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header {
  height: 26px;
  display: flex;
}

footer {
  height: 26px;
  display: flex;
}

main {
  display: flex;
  flex-grow: 1;
}

aside {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 4px;
}

aside.left {
  width: 250px;
}

aside.right {
  width: 250px;
}

.error {
  color: #ff4444;
}

.bigError {
  margin: 15%;
  font: 22px 'Roboto', sans-serif;
}

.filler {
  display: flex;
  flex-grow: 1;
}

.fileView {
  margin: 40px;
  font: 26px 'Nunito Sans', sans-serif;
}

.fileView a {
  color: inherit;
}

.listview {
  width: 250px;
  height: 120px;
  overflow-y: scroll;
}

.listitem {
  font: 16px 'Roboto', sans-serif;
  background: #ddd;
  padding: 2px;
  min-height: 22px;

  display: flex;
  align-items: center;
}

.listitem.selected {
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 0px;
  font-weight: bold;
}

.listitem div {
  flex-grow: 1;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listitem button {
  padding: 0px 4px;
  min-width: 16px;
  height: 16px;
  font: 12px 'Roboto', sans-serif;
  opacity: 0;
  flex-shrink: 0;
}

.listitem:hover button {
  opacity: 1;
}

.canvas {
  height: 100%;
}

.canvas_outside {
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: #000;
  text-align: center;
  overflow: auto;
}

.canvas_outside_small {
  text-align: center;
}

.noteviewHelpText {
  pointer-events: none;
  position: absolute;
  left: 16px;
  top: 16px;
  z-index: 1;
  white-space: nowrap;

  font: 20px 'Nunito Sans', sans-serif;
  color: #fff;
  background-color: #000;
  opacity: 0.25;
  border-radius: 24px;
  padding: 8px 10px;
}

.noteview {
  overflow: scroll;
  position: relative;
  width: 100%;
}

.noteview_inside {
  position: absolute;
  background: #f8f8f8;
  width: 100%;
  height: 100%;
}

.ghost {
  position: absolute;
  background: #ddd;
  border-style: solid;
  border-width: 1px;
  /* border-radius: 3px; */
  border-color: #ddd;
}

.ghost.selected {
  background: #aaa;
  border-color: #aaa;
}

.note {
  position: absolute;
  background: #fff;
  border: 1px outset #888;
  z-index: 1;
}

.note.selected {
  border: 2px solid #000;
}

.note:hover {
  border-color: #000;
  z-index: 2;
}

.note_right {
  position: absolute;
  right: 0px;
  width: 50%;
  max-width: 12px;
  height: 100%;
  cursor: e-resize;
}

.note_right:hover {
  background: #888;
}

.horizontalLine {
  position: absolute;
  left: 0px;
  height: 16px;
  background: rgba(255, 255, 255, 0);
  border-top: 2px solid #bbb;
  cursor: ns-resize;
}

.horizontalLine:hover {
  border-top: 2px solid #888;
  z-index: 1;
}

.verticalLine {
  position: absolute;
  top: 0px;
  width: 16px;
  background: rgba(255, 255, 255, 0);
  border-left: 2px solid #bbb;
  cursor: ew-resize;
}

.verticalLine:hover {
  border-left: 2px solid #888;
  z-index: 1;
}

.rockBottom {
  position: absolute;
  left: 0px;
  height: 1px;
  width: 1px;
}

.selectBox {
  border: 2px dashed #00f;
  background-color: rgba(128, 128, 255, 0.5);
  position: absolute;
  z-index: 2;
}

.colorSquare {
  border: 2px outset #bbb;
  width: 18px;
  height: 18px;
}

.tempograph_outside {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: relative;
}

.tempograph {
  background: #ddd;
  position: absolute;
}

.tempoLine {
  stroke: #888;
  stroke-width: 5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  fill: none;
}

.tempoLine2 {
  stroke: #888;
  stroke-width: 5px;
  stroke-dasharray: 5;
  fill: none;
}

.tempoLine3 {
  stroke: #888;
  stroke-width: 1px;
  fill: none;
}

.tempoHandle {
  stroke: #888;
  stroke-width: 5px;
  fill: none;
  cursor: move;
}

.tempoHandle:hover {
  fill: #888;
}

div.active {
  background: #eef;
}

button {
  background: #f0f0f0;
  height: 26px;
  font: 14px 'Roboto', sans-serif;
  border-radius: 12px;
  border-width: 1px;
  padding: 3px 6px;
}

button:hover {
  border-color: #aaa;
}

button:disabled {
  border: 1px solid #ccc;
  background: #f8f8f8;
  color: #aaa;
}

button.selected {
  background: #fff;
  border: 2px inset #ccc;
  padding: 2px 5px;
}

.select button {
  border-radius: 0px;
}

.select button:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.select button:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.tab button {
  background: #eee;
  border-style: outset;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: none;
  height: 26px;
}

.tab button.selected {
  background: #fff;
  border-bottom-style: none;
}

.loader {
  position: absolute;
  border: 32px solid #ccc;
  border-top: 32px double #ccc;
  border-radius: 50%;
  width: 256px;
  height: 256px;
  left: 50%;
  top: 50%;
  margin: -160px;
  animation: loadSpin 700ms linear infinite;
}

@keyframes loadSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

input {
  font: 15px 'Roboto', sans-serif;
}

input[type=range] {
  -webkit-appearance: none;
  width: 200px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  background: #eee;
  border: 1px outset #ccc;
  border-radius: 6px;
}
input[type=range]::-webkit-slider-thumb {
  background: #f8f8f8;
  border: 1px outset #ccc;
  border-radius: 15px;
  height: 24px;
  width: 24px;
  margin-top: -7px;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  background: #eee;
  border: 1px outset #ccc;
  border-radius: 6px;
}
input[type=range]::-moz-range-thumb {
  background: #f8f8f8;
  border: 1px outset #ccc;
  border-radius: 15px;
  height: 24px;
  width: 24px;
  margin-top: -7px;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #eee;
  border: 1px outset #ccc;
  border-radius: 6px;
}
input[type=range]::-ms-fill-upper {
  background: #eee;
  border: 1px outset #ccc;
  border-radius: 6px;
}
input[type=range]::-ms-thumb {
  background: #f8f8f8;
  border: 1px outset #ccc;
  border-radius: 15px;
  height: 24px;
  width: 24px;
  margin-top: -7px;
}